html {
    background-color: rgb(127, 124, 130);
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 217, 255);
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid rgb(191, 162, 219);
    border-bottom: none;
}

.site-nav a:hover {
    background-color: rgb(127, 124, 130);
    /* 마우스 올렸을 때 색이 바뀌는  */
}

.content-area {
    border-top: 3px solid rgb(127, 124, 130);
    border-bottom: 3px solid rgb(127, 124, 130);
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
    border-top: 2px solid rgb(191, 162, 219);

}

.sidebar {
    width: 32%;
    float: left;
    background-color: rgb(191, 162, 219);
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 76%;
}

footer {
    text-align: center;
    font-size: 85%;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}